@import 'assets/styles/variables.scss';
@import 'assets/styles/mixins.scss';

.case {
    width: calc(100vw - $sidebar-width);
    height: 100%;
    padding: 5em 0 2em;
    background-color: $page-color;

    .content {
        @include flex(column, space-between);
        height: 100%;
        width: 100%;
        // padding-inline: 5%;
        margin: auto;

        .text {
            margin-bottom: 1.5em;
            padding-inline: 5%;

            h2 {
                font-size: 1.5rem;
                font-weight: 400;
                color: $secondary-color;
                margin-bottom: 1.5em;

                span {
                    color: $primary-color;
                }
            }

            p {
                font-size: 1.125rem;
            }
        }

        .task {
            height: 50vh;
            margin-bottom: 1.5em;
            overflow-y: auto;
            flex-grow: 1;
            padding-inline: 5%;

            // For homework results
            &.results {
                @include flex(column);
                gap: 1.5em;
            }
            // For homework results
        }

        .pagination {
            @include flex(row, center);
            width: 100%;
        }
    }
}
