.progress_bar_container {
    width: 90%;
    background-color: #d9d9d9;
    border-radius: 10px;
    margin: 10px 0;
    text-align: center;
    color: rgb(247, 243, 243);
}

.progress_bar {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
