.profile {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .profile_info {
    width: 85%;
    height: 37%;
    background-color: rgb(130, 130, 239);

    .info_img {
    }

    .info_mainside {
    }
    
  }
}

//----------------------- SCHEDULE ----------------------

.profile_schedule {
  width: 85%;
  height: 48%;
  background-color: green;
}
