.table {
  padding-bottom: 50px;
}

.table_exercise {
  width: 100%;
  color: #006d77;
  margin-top: 20px;
}

.table_exercise td,
th {
  border: 1px solid #006d77;
  border-radius: 2px;
  /* padding: 10px; */
  min-height: 50px;
  max-width: 100px;
  /* max-height: 40px; */
}

.table_inp {
  width: 100%;
  border: none;
  height: 100%;
  text-align: center;
  color: #e29578;
}

.table_inp:focus {
  outline: #e29578;
}

.connect_words__block {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1000px;
  margin: 10px 1px;
  /* align-items: end; */
  /* background-color: coral; */
  /* background-color: #c5e5e2; */
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 2%;
  border-radius: 10px;
}

.connect_words__inputs {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.connect_words__textarea {
  padding: 5px;
  border-radius: 5px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  outline: none;
  margin: 10px 0 20px;
  transition: 100ms;
  max-width: 48%;
  min-width: 48%;
  min-height: 42px;
}

.connect_words__textarea:focus {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  outline: 1px solid #4f8b91;
}
