table {
  font-size: small;
  color: #006d77;
}

tr > th, td {
  width: 12.5%;
}

td {
  padding: 1% 1%;
  text-align: center;
  border-bottom: 1px solid gainsboro;
  border-right: 1px solid gainsboro;
  min-height: 100px;
}

.table_schedule th {
  background-color: #C5E5E2;
  padding: 1%;
  border: none;
}

.table_schedule th:first-child {
  width: 6.25%;
}

.table_time {
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 10px;
  border: none;
}

.table_row {
  min-height: 100px;
}

.lesson_block {
  background-color: #c2e7e4;
  border-radius: 2px;
  padding: 5%;
  margin: 10px 0;
}

.overlay {
  background-color: rgb(255, 255, 255, 0.6);
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  z-index: 10;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #C5E5E2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 20%;
  height: 20%;
  border-radius: 5px;
}

.modal select {
  padding: 2% 4%;
}

.today-active {
  background-color: #E29578 !important;
}