@import 'assets/styles/variables.scss';
@import 'assets/styles/mixins.scss';

.imageWordContainer {
    @include flex(column, space-between);
    position: relative;
    width: 100%;
    height: 100%;

    .images {
        @include flex(row, center);
        flex-wrap: wrap;
        width: 100%;
        gap: 2em;
        margin-bottom: 2em;

        .image {
            @include flex(column, flex-start, center);
            gap: 0.75em;
            max-width: 35%;

            img {
                width: 100%;
            }
        }
    }

    .inputs {
        @include flex(column);
        flex-wrap: wrap;
        gap: 1.5em;
        padding-left: 3em;

        .inputBox {
            @include flex(column);
            gap: 0.5em;
            position: relative;
            counter-increment: li-counter;

            &::before {
                content: counter(li-counter);
                position: absolute;
                top: 0;
                left: -2.5em;
                display: grid;
                place-items: center;
                color: $primary-color;
                font-weight: bold;
                background-color: $button-bg;
                font-size: 1rem;
                font-weight: 400;
                height: 1.5rem;
                width: 1.5rem;
                border-radius: 0.5rem;
            }
        }
    }

    .submit {
        position: sticky;
        bottom: 0;
        align-self: flex-end;
        margin-right: 3em;
    }
}
