.text {
    width: 20vw;
    font-size: 11px;
    border-radius: 15px;
    border: 1px solid #83C5BE;
    opacity: 0;
    transition: opacity 1s;
  }
  .main:hover > .text {
    opacity: 1;
  }
  
  .sign:hover {
    background-color: #5FA5B5;
    transition: background-color 1s;
  }
  /* style={{width:'20vw',transition:'1s' , fontSize:'11px' , borderRadius:'15px' , border:'1px solid black' , display:`${block}`}} */