@import 'assets/styles/variables.scss';
@import 'assets/styles/mixins.scss';

.connectWords {
    @include flex(column, space-between);
    position: relative;
    width: 100%;
    height: 100%;

    .columns {
        @include flex;
        gap: 4em;

        .column {
            @include flex(column);
            gap: 1em;
            min-width: 11em;

            .button {
                padding: 0.5em 2em;
                white-space: nowrap;
            }
        }

        // for homework results
        &.results {
            .column {
                .button {
                    pointer-events: none;
                }
            }
        }
        // for homework results

        .connections {
            display: none;
        }
    }

    // for homework results
    .columns.teacherResults {
        gap: 0;

        .connections {
            @include flex(column, space-around);
            gap: 1em;

            .line {
                @include flex(row, center, center);
                height: 100%;

                div {
                    width: 4em;
                    border-bottom: 0.175rem solid $table-header;
                }
            }
        }
    }
    // for homework results

    .submit {
        position: sticky;
        bottom: 0;
        align-self: flex-end;
        margin-right: 3em;
        background-color: $hover-color;
    }
}
