// @import 'components/Essay/Mistakes/Mistakes.module.scss';
@import 'assets/styles/variables.scss';
@import 'assets/styles/mixins.scss';

// This css file is intended for styling general parts of essay files

.essayContainer {
    width: 100%;

    .essay {
        @include flex(column);
        width: 65%;
        margin-left: 4em;
        margin-top: 4em;

        .essayHeader {
            @include flex(row, space-between);
            margin-bottom: 1em;
            font-size: 1.125rem;

            .studentInfo {
                @include flex(column, space-between);
                height: 100%;

                h2 {
                    padding-bottom: 0.5em;
                }

                span {
                    font-weight: 600;

                    a {
                        color: $highlighted-text;
                        text-decoration: underline;
                        text-decoration-color: $highlighted-text;
                    }
                }
            }

            .subject {
                @include flex(column, space-between);

                span {
                    margin-top: 0.5em;
                    font-weight: 600;
                }
            }
        }

        .windows {
            @include flex(column);
            gap: 1.5em;
            max-height: 70vh;
            width: 100%;
            padding-block: 2em 0.5em;

            // There is also MistakesWindow

            .essayWindow {
                font-size: 1.125rem;
                width: 100%;
                height: 30vh;
                border-radius: 1rem;
                border: 0.1rem solid $border-color;
                margin-bottom: 1em;
                padding: 1em 1em 1.5em 1.5em;
                overflow: auto;
                word-break: break-all;

                &.unactive {
                    color: #aeb5b7;
                    user-select: none;
                }
            }
        }
    }
}

// Mistakes styles -------------------------------

.mistakesWindow {
    width: 100%;
    padding: 1em 0 1em 2em;
    font-size: 1.125rem;
    border: 0.1rem solid $border-color;
    border-radius: 1rem;

    & > p {
        margin-bottom: 0.5em;
    }

    ul {
        list-style: none;
        height: 16vh;
        overflow-y: scroll;

        .mistake {
            @include flex(row, flex-start, center);
            gap: 0.5em;
            margin-bottom: 0.5em;

            div {
                width: 1em;
                height: 1em;
                border-radius: 0.25rem;
            }

            img {
                width: 1rem;
                cursor: pointer;
            }

            input {
                width: 0;
                min-width: 20%;
                font-size: 1rem;
                border: none;
                border: 0.1rem transparent solid;
                border-radius: 0.25rem;
                outline: none;

                &:focus {
                    border: 0.1rem $border-color solid;
                }

                &:hover {
                    border: 0.1rem $border-color solid;
                }

                &:disabled {
                    background-color: transparent;
                    color: black;
                }
            }
        }
    }
}

// Mistakes styles -------------------------------

ul,
.essayWindow {
    &::-webkit-scrollbar {
        width: 1.375em;
    }

    &::-webkit-scrollbar-thumb {
        background-clip: content-box;
        background-color: $border-color;
        border-radius: 100vw;
        border: 0.5em solid transparent;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: $border-hover-color;
    }
}
