.vocabulary-box {
  display: flex;
  flex-wrap: wrap
}

.vocabulary-word {
  padding: 7px;
  margin: 5px 5px 5px 0;
  border: 1px solid #006D77;
  border-radius: 10px;
  color: #006D77;
}

.listening-box {
  color:#006D77;
}

.listening-text {
  margin: 10px 0
}

.slider__container {
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.slider__page {
  display: none;
  width: 100%;
}

.slider__pagination {
  display: flex;
  align-items: center;
  gap: 10px;
}

.slider__pagination button {
  width: 10%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #C5E5E2;
}

.slider__pagination button:hover {
  background-color: #9bd0cb;
}

.slider__pagination button:disabled {
  background-color: #e5efee;
  color: #4f8b91;
  cursor: auto;
}

.slider__page_active {
  display: block;
}