*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #9bd0cb;
}

*::-webkit-scrollbar-thumb {
  background-color: #006D77;
  border-radius: 5px;
  border: 3px solid #006D77;
}

.chat {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-height: 320px;
  border-radius: 10px;
  /* background-color: #9bd0cb; */
}

.chat__inp {
  width: 100%;
  height: 50px;
  border-radius: 10px 10px 0 0;
  border: 2px #9bd0cb solid;
  border-bottom: none;
  /* border: none; */
  padding: 0 20px;
}

.chat__inp:focus {
  outline: none;
}

.chat__btn {
  padding: 0 20px;
  width: 100%;
  border-radius: 0 0 10px 10px;
  border: none;
  height: 30px;
  cursor: pointer;
  transition: 200ms;
  color: #006D77;
  background-color: #9bd0cb;
}

.chat__btn:hover {
  background-color: #006D77;
  color: #9bd0cb;
}

.chat__messages {
  border-bottom: none;
  padding: 15px;
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
  border-radius: 10px;
}

.chat__message {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  margin: 5px;
  padding: 5px 15px;
}

.left-message {
  align-self: flex-start;
}

.right-message {
  align-self: flex-end;
  flex-direction: row-reverse;
}

.left-message .chat__message-icon {
  margin: 0 15px 0 0;
}

.right-message .chat__message-icon {
  margin: 0 0 0 15px;
}

.chat__message-icon {
  border: 1px solid #9bd0cb;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 5px;
  background-color: #9bd0cb;
  color: #006D77;
}
.message-bubble {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    max-width: 70%;
    position: relative;
    margin-left: 20px;
    max-width: 40%;
}

.message-bubble:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #f0f0f0;
    display: block;
    width: 0;
    z-index: 1;
    left: -10px;
    top: 10px;
}

.message-bubble p {
    margin: 0;
    padding: 0;
    color: #333;
}
