@import 'assets/styles/variables.scss';

.window {
    display: flex;
    width: 100%;

    .sidebar {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: $sidebar-width;
        height: 100vh;
        padding: 3em 1.75em;
        border-right: 1px solid #aeb5b7;
        background-color: white;

        .content {
            .logo {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                margin-bottom: 3em;

                img {
                    width: 30%;
                }

                h1 {
                    display: inline;
                    font-size: 1.5rem;
                    font-weight: 400;
                    width: 50%;
                }
            }

            .sections {
                display: flex;
                flex-direction: column;
                gap: 0.5em;
                width: 100%;
                list-style-type: none;

                a[class='active'] {
                    li {
                        span {
                            color: $primary-color;
                        }

                        img {
                            opacity: 0;
                        }

                        img.active {
                            opacity: 1;
                        }
                    }
                }

                li {
                    position: relative;
                    display: flex;
                    align-items: center;
                    padding: 0.375em 0.75em;
                    color: $secondary-color;
                    border-radius: 0.5em;
                    transition: color 0.3s;
                    cursor: pointer;

                    img {
                        width: 1.75em;
                        transition: opacity 0.3s;
                        margin-right: 1.5em;
                    }

                    img.active {
                        position: absolute;
                        left: 0.75em;
                        opacity: 0;
                    }

                    &:hover {
                        background-color: $button-bg;
                        color: $primary-color;

                        img {
                            opacity: 0;
                        }

                        img.active {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        .copyright {
            font-size: 0.75rem;
            color: $secondary-color;
        }
    }

    .page {
        flex-grow: 1;
        margin-left: $sidebar-width;
    }
}
