// COLORS
$primary-color: #000000;
$secondary-color: #7a7a7a;
$button-bg: #f2f2f2;
$warning: #e29578;
$success: #83c5be;
$hover-color: #dbf5ec;
$table-header: #e7e7e7;
$modal-bg: rgba(0, 0, 0, 40%);
$page-color: white;
$highlighted-text: #006d77;
$border-color: #d9d9d9;
$border-hover-color: #a0a0a0;
$hover-secondary: #83c5be;

// SIZES
$sidebar-width: 20vw;
